<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>112117989138-tur0gu6lcpf2bs5k84dho1bvjn99sqhd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.112117989138-tur0gu6lcpf2bs5k84dho1bvjn99sqhd</string>
	<key>API_KEY</key>
	<string>AIzaSyCtTX3FIVSV8ZBMMf4FJg_AGQN5P0-X_1I</string>
	<key>GCM_SENDER_ID</key>
	<string>112117989138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.command</string>
	<key>PROJECT_ID</key>
	<string>chat-data-50b33</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-data-50b33.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112117989138:ios:c528a3bdf349d26c943dcb</string>
	<key>DATABASE_URL</key>
	<string>https://chat-data-50b33-default-rtdb.firebaseio.com</string>
</dict>
</plist>